<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    
    <script text="text/javascript" src="/eel.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="img/background.png">
    <title>XBEE'Q</title>

</head>
<body class="background">
    <div class="container">
        <div class="row">
        <div class="wrap-login">
            <div class="login_label">
                <label class="label_login">Member Login</label>
            </div>
            <div class="login_user">
                <label class="label_input">User:</label>
                <input type="text" class="inputs" name="username" id="get_user_login" placeholder="Username"><br>
            </div>
            <div class="login_user">
                <label class="label_input">Password:</label>
                <input type="password" class="inputs" name="password" id="get_user_password" placeholder="* * * * * * * * *">
            </div>
            <div class="buttons_container">
                <label class="top_label" style="margin: 0 20px;">Forgot your password? Click here</label>
                <button class="buttons" onclick="btnlogin();">Confirm</button>
            </div>
            <div class="login_user" style="text-align: center;width: 100%;">
                <div id="login_txt"></div>
            </div>
        </div>
        </div>
    </div>
   <script type="text/javascript">
    //USER LOGIN
    async function btnlogin(){
        //var username =$('#get_user_password').val();
        //alert(username);
        eel.btn_login($('#get_user_login').val(), $('#get_user_password').val()) 
    }

    eel.expose(login_return)
    function login_return(status){
        if(status=="success"){
            location.href="admin.html";
        }
        if(status=="failed"){
            $('#login_txt').text("Incorrect User or Password")
        }
    }
   </script>

</body>
</html>